ul{
    width: 150px;
   div{
       width: 120px;
       display: flex;
       justify-content: space-between;
   }
}

li{
    display:  inline;

}
input{
    display: inline;
    margin-left: 30px;

}