*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 15px;
}

button{
    padding: 10px 15px;
    margin: 0;
    border-radius: 0;
    border: 1px solid #ccc;
}
button:hover{
    background-color: #ddd;
}

button:active{
    background-color: #ccc;
}
#trick{
    margin-right: 4px ;
}